<<<<<<< HEAD
body {
    background-color: 0B000D;
    height: 125%;
}

h2.hi {
    color: white;
    position: absolute;
    top: 5%;
    left: 47%;
}

h2.name {
    color: white;
    position: absolute;
    top: 9%;
    left: 47%;
}

h2.hope {
    color: white;
    position: absolute;
    top: 22%;
    left: 25%;
}

h2.current {
    color: white;
    position: absolute;
    top: 25%;
    left: 27%;
}







h4.opensource {
    color: white;
    position: absolute;
    top: 126%;
    left: 87%;
}

h4.contact {
    color: white;
    position: absolute;
    top: 124%;
    left: 91%;
}

h4.discord {
    color: white;
    position: absolute;
    top: 122%;
    left: 95%;
}

h5.fix {
    color: white;
    position: fixed;
    top: 42%;
    left: 1%;
}

h5.fix2 {
    color:white;
    position: fixed;
    top: 45%;
    left: 1%;
}

a.discord {
    color: white;
    position: absolute;
    left: 46%;
    top: 125%;
    border: 5px solid #bbb;
}
=======
body {
    background-color: 0B000D;
    height: 125%;
}

h2.hi {
    color: white;
    position: absolute;
    top: 5%;
    left: 47%;
}

h2.name {
    color: white;
    position: absolute;
    top: 9%;
    left: 47%;
}

h2.hope {
    color: white;
    position: absolute;
    top: 22%;
    left: 25%;
}

h2.current {
    color: white;
    position: absolute;
    top: 25%;
    left: 27%;
}







h4.opensource {
    color: white;
    position: absolute;
    top: 126%;
    left: 87%;
}

h4.contact {
    color: white;
    position: absolute;
    top: 124%;
    left: 91%;
}

h4.discord {
    color: white;
    position: absolute;
    top: 122%;
    left: 95%;
}

h5.fix {
    color: white;
    position: fixed;
    top: 42%;
    left: 1%;
}

h5.fix2 {
    color:white;
    position: fixed;
    top: 45%;
    left: 1%;
}

a.discord {
    color: white;
    position: absolute;
    left: 46%;
    top: 125%;
    border: 5px solid #bbb;
}
>>>>>>> cd007b4d8e652a479d5d3b3714545e5a122fff8f
