body {
    background-color: 0B000D;
}

h1.sorry {
    color: white;
position: fixed;
top: 42%;
left: 47%;
}

h1.notready {
    color: white;
position: fixed;
top: 45%;
left: 44%;
}

a.back {
    color: white;
    position: fixed;
    top: 50%;
    left: 48%;
}

h4.ever {
    color: white;
position: fixed;
top: 90%;
left: 47%;
}

h4.opensource {
color: white;
position: fixed;
top: 94%;
left: 87%;
}

h4.contact {
color: white;
position: fixed;
top: 92%;
left: 91%;
}

h4.discord {
color: white;
position: fixed;
top: 90%;
left: 95%;
}